<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Subscribe</title>
	<link rel="stylesheet" href="../static/css/null.css">
	<link rel="stylesheet" href="../static/css/subscribe.css">
</head>

<body>

	<div id="subscribe" class="notification">
		<div class="notification__body">
			<div class="notification__source">
				<video onloadstart="this.volume=0.5" src=>
				</video>
			</div>
			<div data-field="title" class="notification__title"></div>
		</div>
	</div>

</body>

<script type="module" src="../static/js/notifications/subscribe/subscribe.js"></script>

</html>